@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Montserrat';
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #ffff;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.navbarlogo {
  display: flex;
}
.navbar h1 {
  color: #45b649;
  margin-right: 5px;
  font-weight: 600;
  font-size: large;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #45b649;
}
.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 10px;
  border-bottom: 1px solid #fafafa;
  border: 1px solid #f2f2f2;
  border-radius: 0.4em;
  width: 100%;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #45b649;
  margin: 8px 0;
}
.blog-preview a {
  text-decoration: none;
}
.blogOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  display: flex;
  width: 100%;
  height: 300px;
  padding: 10px 0;
}
.image img {
  position: relative;
  object-fit: cover;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.blogdescription {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}
.more {
  display: flex;
  padding: 5px;
  justify-content: end;
  width: 100%;
  color: #45b649;
  font-size: 16px;
}
.more:hover {
  text-decoration: underline;
}
.list-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd;
}
.like-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #45b649;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1f0f3;
  color: #333;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.article {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.detailDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}
.imageDetail {
  display: flex;
  width: 100%;
  height: 300px;
}
.imageDetail img {
  position: relative;
  object-fit: cover;
}
.buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* create new blog form */
.create {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
  font-size: 20px;
  color: #45b649;
}
.create h2 {
  font-size: 20px;
  color: #45b649;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1f0f3;
  color: #333;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create button:hover {
  color: #45b649;
}
/* Form */
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.editable {
  width: 100%;
}
/* Banner */
.banner {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-image: url('https://img.freepik.com/free-photo/people-white-sand-beach-banner_53876-146260.jpg?w=996&t=st=1664196566~exp=1664197166~hmac=28b9ee9e69c76ae8a41bbd492c9523a7c8b93bd5c8189d16b25879a401d04158');
}
.bannerdesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 310px;
}
.bannerdesc h1 {
  font-size: 32px;
  background-color: #f2f2f271;
  border: 1px solid #f2f2f271;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
